@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));


:root {
  /* Modern Minimalist Theme */
  --background: #ffffff;
  --foreground: #09090b;
  /* Zinc 950 */

  /* Sophisticated Accents */
  --primary: #18181b;
  /* Zinc 900 */
  --secondary: #52525b;
  /* Zinc 600 */
  --accent: #f43f5e;
  /* Modern Rose/Red for CTA pop */

  --font-inter: "Inter", sans-serif;
  --font-outfit: "Outfit", sans-serif;

  --radius: 0.5rem;
}

.dark {
  --background: #09090b;
  /* Zinc 950 */
  --foreground: #ffffff;

  --primary: #ffffff;
  /* White primary in dark mode */
  --secondary: #a1a1aa;
  /* Zinc 400 */
  --accent: #fb7185;
  /* Lighte Rose */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);

  --border-radius-lg: var(--radius);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  letter-spacing: -0.025em;
  /* Tight tracking for modern look */
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary:hover {
  background-color: var(--accent);
  transform: translateY(-2px);
}